<aside id="sidebar-nav" class="theme-doc-sidebar-container docSidebarContainer sidebar" aria-label="API navigation">
  <div class="sidebarViewport thin-scrollbar">
    <nav class="menu thin-scrollbar theme-doc-sidebar-menu">
      <ul class="menu__list">
        <li class="theme-doc-sidebar-item-category theme-doc-sidebar-item-category-level-1 menu__list-item">
          <div class="menu__list-item-collapsible">
            <button type="button" class="menu__link menu__link--sublist">Reference</button>
            <button type="button" class="menu__caret" aria-label="Toggle Reference"></button>
          </div>
          <ul class="menu__list">
            <li class="theme-doc-sidebar-item-link theme-doc-sidebar-item-link-level-2 menu__list-item">
              <a class="menu__link menu__link--active" href="#authentication">Authentication</a>
            </li>
            <li class="theme-doc-sidebar-item-link theme-doc-sidebar-item-link-level-2 menu__list-item">
              <a class="menu__link" href="#errors">Error Handling</a>
            </li>
          </ul>
        </li>

        <li class="theme-doc-sidebar-item-category theme-doc-sidebar-item-category-level-1 menu__list-item">
          <div class="menu__list-item-collapsible">
            <button type="button" class="menu__link menu__link--sublist">Users API</button>
            <button type="button" class="menu__caret" aria-label="Toggle Users API"></button>
          </div>
          <ul class="menu__list">
            <li class="theme-doc-sidebar-item-link theme-doc-sidebar-item-link-level-2 menu__list-item">
              <a class="menu__link" href="#list-users">List Users</a>
            </li>
            <li class="theme-doc-sidebar-item-link theme-doc-sidebar-item-link-level-2 menu__list-item">
              <a class="menu__link" href="#get-user">Get User (Deprecated)</a>
            </li>
            <li class="theme-doc-sidebar-item-link theme-doc-sidebar-item-link-level-2 menu__list-item">
              <a class="menu__link" href="#create-user">Create User</a>
            </li>
            <li class="theme-doc-sidebar-item-link theme-doc-sidebar-item-link-level-2 menu__list-item">
              <a class="menu__link" href="#upload-avatar">Upload Avatar</a>
            </li>
            <li class="theme-doc-sidebar-item-link theme-doc-sidebar-item-link-level-2 menu__list-item">
              <a class="menu__link" href="#rotate-api-key">Rotate API Key</a>
            </li>
            <li class="theme-doc-sidebar-item-link theme-doc-sidebar-item-link-level-2 menu__list-item">
              <a class="menu__link" href="#delete-user">Delete User</a>
            </li>
          </ul>
        </li>

        <li class="theme-doc-sidebar-item-category theme-doc-sidebar-item-category-level-1 menu__list-item">
          <div class="menu__list-item-collapsible">
            <button type="button" class="menu__link menu__link--sublist">Billing API</button>
            <button type="button" class="menu__caret" aria-label="Toggle Billing API"></button>
          </div>
          <ul class="menu__list">
            <li class="theme-doc-sidebar-item-link theme-doc-sidebar-item-link-level-2 menu__list-item">
              <a class="menu__link" href="#list-plans">List Plans</a>
            </li>
            <li class="theme-doc-sidebar-item-link theme-doc-sidebar-item-link-level-2 menu__list-item">
              <a class="menu__link" href="#create-subscription">Create Subscription</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>
